


.portfolio {
    width: 80%;
    color: #ffff;
    background-color: #ff2281;
    border-radius: 20px;
    padding: 30px;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    transition : box-shadow 0.2s ease-in-out;
}

.portfolio:hover{
    box-shadow: 0 2px 8px rgb(0, 0, 0);
}


.portfolio img {
    width: 270px;
    height: 190px;
    border-radius: 20px;
}


.portfolioTitle {
    color: white;
}

.description {
    padding: 0 50px;
}

.lienGithub{
    text-decoration: none;
    color: #ffff;
    border: 2px solid #ffff;
    background-color: #ff2281;
    border-radius: 20px;
    width: 30%;
}



.technosTags button {
    margin: 40px;
    border-radius: 20px;
    width: 15%;
    color: #222288;

}

@media screen and (min-width: 768px)and (max-width: 980px){

   
}

@media screen and (max-width: 768px){
    .portfolio {
        width: 100%;
        margin: 10px;
    }

    .portfolio img {
        width: 100%;
    }
}