


.portfolio {
    width: 80%;
    color: #222288;;
    background-color: #fee7f0;
    border-radius: 20px;
    padding: 30px;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    transition : box-shadow 0.2s ease-in-out;
    box-shadow: 0 2px 8px rgb(0, 0, 0);
}



.portfolio img {
    width: 270px;
    height: 190px;
    border-radius: 20px;
}


.portfolioTitle {
    color: #ff2281;
}

.description {
    padding: 0 50px;
}

.lienGithub{
    padding: 10px 50px;
    text-decoration: none;
    color: #ffff;
    //border: 2px solid #ffff;
    background-color: #ff2281;
    border-radius: 20px;
    width: 30%;
    box-shadow: 0 1px 2px rgb(255, 255, 255);

}



.technosTags button {
    margin: 40px;
    border-radius: 20px;
    width: 15%;
    color: #222288;
    box-shadow: 0 1px 2px rgb(0, 0, 0);
}

@media screen and (min-width: 768px)and (max-width: 980px){

   
}

@media screen and (max-width: 768px){
    .portfolio {
        width: 100%;
        margin: 10px;
    }

    .portfolio img {
        width: 100%;
    }
}