
.container-cards{
    margin: 30px 0 30px 0;
	display: flex;
	align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.portfolio {
    width: 80%;
    color: #ffff;
    background-color: #ff2281;
    border-radius: 20px;
    padding: 15px;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    transition : box-shadow 0.2s ease-in-out;
}

.portfolio:hover{
    box-shadow: 0 2px 8px rgb(0, 0, 0);
}


.portfolio img {
    width: 270px;
    height: 190px;
    border-radius: 20px;
}


.portfolioTitle {
    color: white;
}

@media screen and (min-width: 768px)and (max-width: 980px){

   
}

@media screen and (max-width: 768px){
    .portfolio {
        width: 100%;
        margin: 10px;
    }

    .portfolio img {
        width: 100%;
    }
}