.main{
    padding: 50px 0 50px 0;
    background-color: #ff2281;
    color: #ffff;
    display: flex;
    justify-content: space-around;

}

.h1-content{
    font-size: 2em;
}

.imgpauline{
    border-radius: 50%;
    width: 817px;
    height: 817px;
}
