.main{
    padding: 50px 0 50px 0;
    background-color: #ff2281;
    color: #ffff;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.h1-content{
    font-size: 2em;
}

.imgpauline{
    border-radius: 50%;
    width: 300px;
    height: 300px;
    object-fit: cover;
}

/* Styles pour les tablettes (largeur d'écran jusqu'à 768px) */
@media (max-width: 768px) {
    .main {
        padding: 30px 0; /* Réduisez la marge intérieure pour les tablettes */
        text-align: center; /* Centrez le contenu */
        flex-wrap: wrap;
    }

    .h1-content {
        font-size: 1.5em; /* Réduisez la taille de la police pour les tablettes */
    }

    .imgpauline {
        max-width: 200px;
        height: 200px;
    }
}

/* Styles pour les téléphones (largeur d'écran jusqu'à 480px) */
@media (max-width: 480px) {
    .main {
        padding: 20px 0; /* Réduisez la marge intérieure pour les téléphones */
    }

    .h1-content {
        font-size: 1.2em; /* Réduisez davantage la taille de la police pour les téléphones */
    }

    .imgpauline {
        max-width: 200px;
        height: 200px;
    }
}