/* contactForm.css */

.contactContainer{
    margin: 40px auto 0;
    padding: 20px;
    background-color: #fff;
    color: #ffff;
    background-color: #ff2281;

}


  
.contact-form label {
    display: block;
    margin-bottom: 5px;
    
 }
  
.contact-form input[type="text"],
.contact-form textarea {
    width: 50%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ff2281;
    border-radius: 20px;
}
  
.contact-form button {
    background-color: #ff2281;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 20px ;
    padding: 10px 15px;
    cursor: pointer;
    width: 50%;
    margin: 0 10px 0 10px;
}
  