
.navigation{
    padding: 20px;
    display: flex;
    text-decoration: none;
    justify-content: space-between;
}

.navLogo{
    align-items: flex-start;
    
}

.portfolio-logo{
    width: 200px;
}

.navbar ul {
    display: flex;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
    line-height: 34px;
    list-style-type: none;
}

.navLink {
    padding-left: 50px;
    text-decoration: none;
    color: #FF2281;
}

/* Styles pour les tablettes (largeur d'écran jusqu'à 768px) */
@media (max-width: 768px) {
    .navigation {
        padding: 10px; /* Réduisez la marge pour les tablettes */
        flex-direction: column; /* Changez la direction de flex pour empiler les éléments */
        align-items: center; /* Centrez les éléments */
    }

    .navLogo {
        align-items: center; /* Centrez le logo pour les tablettes */
    }

    .portfolio-logo {
        width: 300px; /* Réduisez la largeur du logo pour les tablettes */
    }

    .navbar ul {
        font-size: 18px; /* Réduisez la taille de la police pour les tablettes */
        margin-top: 10px; /* Ajoutez de l'espace en haut pour les tablettes */
    }

    .navLink {
        padding-left: 0; /* Réinitialisez l'espacement des liens pour les tablettes */
        margin-top: 10px; /* Ajoutez de l'espace entre les liens pour les tablettes */
        text-align: center; /* Centrez le texte des liens */
    }
}

/* Styles pour les téléphones (largeur d'écran jusqu'à 480px) */
@media (max-width: 480px) {
    .navigation {
        padding: 5px; /* Réduisez la marge pour les téléphones */
        margin-top: 10px;
    }

    .navLogo {
        align-items: center; /* Centrez le logo pour les téléphones */
    }

    .portfolio-logo {
        width: 200px; /* Réduisez davantage la largeur du logo pour les téléphones */
    }

    .navbar ul {
        font-size: 16px; /* Réduisez davantage la taille de la police pour les téléphones */
        margin-top: 5px; /* Ajoutez de l'espace en haut pour les téléphones */
        padding-left: 0;
    }

    .navLink {
        padding-left: 0; /* Réinitialisez l'espacement des liens pour les téléphones */
        margin: 20px; /* Ajoutez de l'espace entre les liens pour les téléphones */
        text-align: center; /* Centrez le texte des liens */
        
    }
}