
.navigation{
    padding: 20px;
    display: flex;
    text-decoration: none;
    justify-content: space-between;
}

.navLogo{
    align-items: flex-start;
    
}

.portfolio-logo{
    width: 200px;
}

.navbar ul {
    display: flex;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
    line-height: 34px;
    list-style-type: none;
}

.navLink {
    padding-left: 50px;
    text-decoration: none;
    color: #FF2281;
}

@media screen and (min-width: 768px) and (max-width: 980px){

    .navLogo{
        width: 30vw;
    }

    .navbar li {
        width: 20vw;
    }
}

@media screen and (max-width: 768px){

    .navigation{
        justify-content: space-around;
    }

    .kasa-logo{
        width: 30vw;
    }

    .navbar ul {
        margin: 0;
        padding-left: 10px;
    }

    .navLink {
        padding-left: 0;
    }

    .navbar ul{
        font-size: 20px;
        font-weight: 500;
        line-height: 34px;  
    }

    .navbar li{
        width: 30vw;
    }
}