.footer{
    padding: 30px;
    width: 100%;
   background-color: #FF2281; 
   color: white;
   display: flex;
   flex-direction: column;
   align-items: center;
   flex-wrap: wrap;
   justify-content: center;
}

.social {
    color: #ffff;
    padding: 0 10px;
    font-size: 1.7em;
    text-decoration: none;

}


/* Styles pour les tablettes (largeur d'écran jusqu'à 768px) */
@media (max-width: 768px) {
    .footer {
        padding: 20px; /* Réduisez la marge intérieure pour les tablettes */
    }
}

/* Styles pour les téléphones (largeur d'écran jusqu'à 480px) */
@media (max-width: 480px) {
    .footer {
        padding: 10px; /* Réduisez la marge intérieure pour les téléphones */
    }
}
